body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: cadetblue;
}

form {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    background-color:rgb(131, 187, 189);
    padding: 6px;
}

#title {
    text-align: center;

}
#description{
    text-align:center;
}

.block {
    display: block;
}

#comment-suggestion {
    min-width: 90%;
}

#submit{
    width: 100%;
    padding: 10px 0;
    background-color: green;
    color:white;
}